BasedOnStyle: Google
ColumnLimit: 110
IndentWidth: 2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
IncludeBlocks: Preserve
